<h1>アーティスト登録</h1>

<head>
 <%= javascript_pack_tag 'main_vue' %>
</head>
<body>
  <div id="new">
    <router-view></router-view>
    <router-link to="/artists/index">Go to home</router-link>
  </div>
</body>
